@charset "UTF-8";
/*ПОДКЛЮЧЕНИЕ ШРИФТОВ */

/*Comfortaa*/

@font-face {
  font-family: "Comfortaa";
  src: url("assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

/*Переменные*/

:root {
  --main-bg: #1C1C1C;
  --main-color: #FFFFFF;
  --title-color: #FFA500;
  --main-font-size: 18px;
  --font-familia: 'Comfortaa', cursive;

  /*Светлая тема*/
  --main-white-bg: #FFFFFF;
  --main-white-color: #1C1C1C;
}

@media screen and (max-width: 450px) {
  :root {
    --main-font-size: 14px;
  }
}

/* Свойство для контроля переполнения потока. 
Включать для нахождения элементов, которые выходят за ширину страницы 
если появляется горизонтальная прокрутка на странице
*/
/* 
* {
  outline: solid 1px red;
} 
*/

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html {
  /*плавная прокрутка по якорям*/
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

img {
  vertical-align: top;
}

input, textarea {
  font-family: inherit;
  padding: 0;
}

input:-internal-autofill-selected {
  background-color: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/*ОСНОВНАЯ СЕТКА*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  color: var(--main-color);
  font-family: var(--font-familia);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font-size);
  width: 100%;
}

body.white-theme {
  background-color: var(--main-white-bg);
  color: var(--matte-black-color);
}

main {
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
}

a {
  color: var(--main-color);
}

a.white-theme {
  color: var(--matte-black-color);
}

a:hover {
  color: var(--title-color);
  transition: 0.5s;
}

a.white-theme:hover {
  color: var(--title-color);
  transition: 0.5s;
}


.icon {
  fill: var(--main-color);
}

.icon.white-theme {
  fill: var(--matte-black-color);
}

.icon:hover {
  fill: var(--title-color);
  transition: 1s;
}

.icon.white-theme:hover {
  fill: var(--title-color);
  transition: 1s;
}

/*HEADER*/
.header {
  position: relative;
  padding: 40px 0;
  border-bottom: 5px solid var(--title-color);
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .header-container {
    flex-direction: column;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .header-logo {
    margin-bottom: 40px;
  }
}

.header-logo-icon {
  width: 40px;
  height: 36px;
  padding-bottom: 5px;
}

@media screen and (max-width: 450px) {
  .header-logo-icon {
    width: 34px;
    height: 30px;
  }
}

.header-logo-icon svg {
  fill: var(--title-color);
  height: 100%;
  width: 100%;
}

.header-logo-title {
  margin: 0 10px;
}

.header-search-wrap {
  position: relative;
  width: 350px;
}

@media screen and (max-width: 850px) {
  .header-search-wrap {
    width: 100%;
  }
}

.header-search-input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
  outline: none;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}

.header-search-icon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  right: 4%;
  width: 24px;
  height: 24px;
  transition: 1s;
}

.header-search-icon>.icon {
  fill: var(--main-bg);
}

.header-search-icon>.icon:hover {
  fill: var(--title-color);
  transition: 1s;
}

.header-search-icon svg {
  width: 100%;
  height: 100%;
}

.header-search-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: absolute;
  cursor: pointer;
  background: url(assets/svg/close.svg);
  top: 50%;
  transform: translate(0, -50%);
  right: 12%;
  width: 10px;
  height: 10px;
}

.image-container {
  position: relative;
  padding: 40px;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  z-index: 100;
}

@media screen and (max-width: 850px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .image-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .image-container {
    padding: 40px 20px;
  }
}

.image-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transform: scale(1, 1);
  transition: all 0.4s ease-in-out;
}

.image-wrap:hover {
  transform: scale(1.03, 1.03);
}

.footer {
  position: relative;
  border-top: 5px solid var(--title-color);
  z-index: 100;
}

.footer-container {
  padding: 40px;
}

@media screen and (max-width: 450px) {
  .footer-container {
    padding: 40px 20px;
  }
}

.footer-item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .footer-item-list {
    flex-direction: column;
  }
}

.footer-item {
  font-size: 1.5em;
}

@media screen and (max-width: 850px) {
  .footer-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.footer-link-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.footer-link-icon svg {
  width: 100%;
  height: 100%;
}

/*Fullscreen container*/
.fullscreen-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 1000%);
  background-color: var(--main-bg);
}

.fullscreen-container.active {
  display: block;
  z-index: 1000;
}

.fullscreen-container.white-theme {
  background-color: var(--main-white-bg);
  color: var(--main-white-color);
}

.fullscreen-image {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 20px auto;
}

.fullscreen-image:first-child {
  margin-top: 0;
}

.fullscreen-buttons {
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  width: 65px;
  padding: 10px;
}

@media screen and (max-width: 1440px) {
  .fullscreen-buttons {
    right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .fullscreen-buttons {
    transform: translate(50%, 0);
    right: 50%;
    top: calc(100vh - 80px);
    bottom: 0;
    width: 185px;
    flex-direction: row;
  }
}

.fullscreen-button {
  width: 45px;
  height: 45px;
  background-color: rgba(28, 28, 28, 0.5);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding: 7px;
  margin: 5px;
}

.fullscreen-button:hover {
  border-color: var(--title-color);
  transition: 1s;
}

.fullscreen-button.white-theme {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: var(--main-white-color);
}

.fullscreen-button:hover {
  border-color: var(--title-color);
  transition: 1s;
}

.fullscreen-button:hover>.fullscreen-button-icon {
  fill: var(--title-color);
  stroke: var(--title-color);
  transition: 1s;
}

.fullscreen-button-icon {
  fill: var(--main-color);
  stroke: var(--main-color);
  width: 100%;
  height: 100%;
}

.fullscreen-button-icon.white-theme {
  fill: var(--main-white-color);
  stroke: var(--main-white-color);
}

.fullscreen-button-icon:hover {
  fill: var(--title-color);
  stroke: var(--title-color);
  transition: 1s;
}